<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<title>{ifset $title}{$title} | {/ifset}NetteJS</title>

	<!--[if lte IE 8]><script src="{$baseUrl}/_js/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="{$baseUrl}/_css/nette.min.css" />
	<link rel="stylesheet" type="text/css" href="{$baseUrl}/_css/nette-transitions.css" />
	<link rel="stylesheet" type="text/css" href="{$baseUrl}/_css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{$baseUrl}/_css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="{$baseUrl}/_css/ie8.css" /><![endif]-->
</head>

<body>
	<!-- Header -->
	<header id="header">
		<a href="{link //Homepage:}" class="title">NetteJS</a>
		<nav>
			<ul>
				<li><a n:href="Homepage:" n:class="$tab === 'home' ? active, ajax" data-transition="#snippet--content">Home</a></li>
				<li><a n:href="Homepage:download" n:class="$tab === 'download' ? active, ajax" data-transition="#snippet--content">Download</a></li>
				<li><a n:href="Wiki:" n:class="$tab === 'wiki' ? active, ajax" data-transition="#snippet--content">Docs</a></li>
				<li><a href="https://github.com/jahudka/nettejs">GitHub</a></li>
			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner transition-slide" n:snippet="content">
				{include content}
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; jahudka. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

    <script type="text/javascript" src="{$baseUrl}/_js/netteForms.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/promise.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/context.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/Strings.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/Arrays.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/HashMap.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/DateInterval.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/DateTime.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/Url.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/DOM.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/ReflectionClass.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Utils/ReflectionFunction.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/EventEmitter.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Freezable.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Object.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Utils/Tokenizer.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Neon/Neon.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Ajax/FormData.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Ajax/Request.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Ajax/Response.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Ajax/Service.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Ajax/Transport/Native.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Page/Snippet.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Page/Transitions.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Page/Service.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Forms/VendorCompiled.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Forms/Form.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Forms/Locator.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/DI/Container.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/DI/Context.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Application/Storage.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Application/Routing/URLRoute.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Application/Routing/DOMRoute.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Application/Routing/Router.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Widgets/DialogBase.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Widgets/Dialog.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Widgets/Confirm.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Widgets/FormDialog.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/Nette/Widgets/FlashMessages.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/bootstrap.js"></script>
    <script type="text/javascript" src="{$baseUrl}/_js/stack.js"></script>
</body>
</html>
