{block content}
<h1 class="major">NetteJS</h1>

<p>NetteJS is a client-side framework aiming to simplify everyday development of websites and webapps built on top of the <a href="http://nette.org">Nette framework</a>.</p>
