{block content}
    <h1 class="major">Download</h1>

    <h2>Latest</h2>
    {if $currentVersion}
    <p>
        <a href="https://github.com/nittro/nittro/archive/{$currentVersion}.zip">nittro-{$currentVersion}.zip</a>
        <a href="https://travis-ci.org/nittro/nittro" class="build-icon"><img src="https://travis-ci.org/nittro/nittro.svg?tag={$currentVersion}" alt="Build Status"></a>
    </p>
    {else}
    <p>Sorry, an error occured.</p>
    {/if}
{/block}
