{block content}
    <h1 class="major">Download</h1>

    <h2>Latest</h2>
    {if $currentVersion}
    <p><a href="https://github.com/jahudka/nettejs/archive/{$currentVersion}.zip">{$currentVersion}.zip</a></p>
    {else}
    <p>Sorry, an error occured.</p>
    {/if}
{/block}
