# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
    PATH: null
    builds:
        nittro-essentials: 2.0.0
        nittro-full: 2.0.0

php:
    date.timezone: Europe/Prague


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days
    savePath: %tempDir%/sessions

latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

services:
    router: App\RouterFactory::createRouter(%productionMode%)
    builder: App\Libs\Builder(rootDir: %appDir%/../builder, tempDir: %appDir%/../builder/temp, path: %PATH%)
