# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
    reposPath: "%appDir%/../repos"
    beetle:
        apiUrl: https://bugs.monokl.me
        apiToken: KdVEUXzoBIuzUQxReAPr2ZvINkvwEguDfVDZLc1Kx6uUIbHFMh3xrq8mOXBJBBH1h8jNgbdF
        projectId: 4

php:
    date.timezone: Europe/Prague


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days


services:
    router: App\RouterFactory::createRouter(%productionMode%)
    wiki: App\Libs\Wiki(wikiPath: "%reposPath%/wiki")
    parsedown: App\Libs\Parsedown()
    tracy.logger:
        autowired: no
        class: Beetle\Tracy\Logger("%appDir%/../log", %beetle%)
